<h1>About</h1>
<p id='aboutParagraph'>I line hoods with different patterns. That's my thing. I want to do other funky alterations as well. Email me with ideas at <a href="mailto:styleinthehood@gmail.com">styleinthehood@gmail.com </a></p>
<h2>Here are some examples of some lined hoods:</h2>
<div layout="row" layout-align="center center">
  <img src="../../assets/sideview.jpg" alt="side" width="320px" height="425px">
  <img src="../../assets/frontview.jpg" alt="front" width="320px" height="425px">
</div>
<p>This site is still in progress, your patience is commended</p>
<h2><a href="#!home">*Home*</a></h2>
