<md-card>
  <md-card-content>
    <h2>Place An Order For A Hood Liner</h2>
    <form layout layout-align="center" layout-padding ng-submit="new.addHood(new.orderDetails)">
      <div layout-gt-xs="column" flex>
        <md-input-container flex class="md-block md-title">
          <input type="text" ng-model="new.orderDetails.name" focus-on="addDescription" placeholder="Name" required>
        </md-input-container>
        <md-input-container flex class="md-block md-title">
          <input type="text" ng-model="new.orderDetails.email" focus-on="addDescription" placeholder="Email" required>
        </md-input-container>
        <md-input-container flex class="md-block md-title">
          <input type="text" ng-model="new.orderDetails.size" focus-on="addDescription" placeholder="What Size Is Your Hoodie?" required>
        </md-input-container>
        <div layout-xs layout-align="end">
          <md-button type="submit" class="md-primary md-button md-raised">Add</md-button>
        </div>
      </div>
    </form>
  </md-card-content>
</md-card>
