<h1>Hoodies</h1>
<div layout="column" layout-align="center center">
  <div>
    <p>shiny gold paisley and turquoise</p>
    <a href="http://i.imgur.com/CC3lfCG.jpg"><img class='image' src="http://i.imgur.com/CC3lfCG.jpg" alt="Prime side"></a>
    <a href="http://i.imgur.com/S3ANo2F.jpg"><img class='image' src="http://i.imgur.com/S3ANo2F.jpg" alt="Prime front"></a>
  </div>
  <div>
    <p>Checkered</p>
    <a href="http://i.imgur.com/4ytx9gF.jpg"><img class='image' src="http://i.imgur.com/4ytx9gF.jpg" alt="Checkered front"></a>
    <a href="http://i.imgur.com/TYIceAE.jpg"><img class='image' src="http://i.imgur.com/TYIceAE.jpg" alt="Checkered side"></a>
  </div>
  <div>
    <p>Sharp</p>
    <a href="http://i.imgur.com/14QuOss.jpg"><img class='image' src="http://i.imgur.com/14QuOss.jpg" alt="Sharp front"></a>
    <a href="http://i.imgur.com/JwABDim.jpg"><img class='image' src="http://i.imgur.com/JwABDim.jpg" alt="Sharp side"></a>
  </div>
  <div>
    <p>Dapper</p>
    <a href="http://i.imgur.com/5BhCOzU.jpg"><img class='image' src="http://i.imgur.com/5BhCOzU.jpg" alt="Dapper side"></a>
  </div>
  <div>
    <p>Slang</p>
    <a href="http://i.imgur.com/dzab5fr.jpg"><img class='image' src="http://i.imgur.com/dzab5fr.jpg" alt="Slang front"></a>
    <a href="http://i.imgur.com/TAdf5hj.jpg"><img class='image' src="http://i.imgur.com/TAdf5hj.jpg" alt="Slang side"></a>
  </div>
</div>
<h2><a href="#!home">*Home*</a></h2>
